# Performance Tests

1. ZIP > ITERTUPLES > ITERROWS
2. set_index().to_sql > .query() > df[df.column > 0]

In [3]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite://', echo=False)

df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df.to_sql('users', con=engine)
result = engine.execute("SELECT * FROM users").fetchall()

In [9]:
result = pd.read_sql("SELECT * FROM users", engine)

In [10]:
result

   index    name
0      0  User 1
1      1  User 2
2      2  User 3